
:root {
    /* Descr di figma */
    --colorPaletteBrandPrimaryPrimary100: #005366;    
    --colorPaletteBrandPrimaryPrimary90: #196475;    
    --colorPaletteBrandPrimaryPrimary80: #337585;    
    --colorPaletteBrandPrimaryPrimary70: #4c8794;    
    --colorPaletteBrandPrimaryPrimary60: #6698a3;    
    --colorPaletteBrandPrimaryPrimary50: #80a9b3;    
    --colorPaletteBrandPrimaryPrimary40: #99bac2;    
    --colorPaletteBrandPrimaryPrimary30: #b2cbd1;    
    --colorPaletteBrandPrimaryPrimary20: #ccdde0;    
    --colorPaletteBrandPrimaryPrimary10: #e5eef0;    
    --colorPaletteBrandSecondarySecondary100: #00758f;    
    --colorPaletteBrandTertiaryTertiary100: #ffba3a;    
    --colorPaletteUtilityWhite: #ffffff;    
    --colorPaletteUtilityGray100: #454545;    
    --colorPaletteUtilityGray90: #585858;    
    --colorPaletteUtilityGray80: #6a6a6a;    
    --colorPaletteUtilityGray60: #8f8f8f;    
    --colorPaletteUtilityGray50: #a2a2a2;    
    --colorPaletteUtilityGray40: #b5b5b5;    
    --colorPaletteUtilityGray30: #c7c7c7;    
    --colorPaletteUtilityGray20: #dadada;    
    --colorPaletteUtilityGray10: #ececec;    
    --colorTokensContentPrimary100Content: #005366;    
    --colorTokensContentSecondary100Content: #00758f;    
    --colorTokensContentGray100Content: #454545;    
    --colorTokensContentGray80Content: #6a6a6a;    
    --colorTokensContentWhiteContent: #ffffff;    
    --colorTokensContentGray40Content: #b5b5b5;    
    --colorTokensContentPositive100Content: #107a10;    
    --colorTokensContentNegative100Content: #c13338;    
    --colorTokensContentWarning100Content: #f0b800;    
    --colorTokensContentSherpaContent: #004352;    
    --colorTokensContentCeruleanContent: #0b6579;    
    --colorTokensContentEasternBlueContent: #0c8aa6;    
    --colorTokensContentOchreContent: #c17f15;    
    --colorTokensContentGoldContent: #e59f2e;    
    --colorTokensContentGrandisContent: #ffcf75;    
    --colorTokensContentSandriftContent: #a99479;    
    --colorTokensContentVanillaContent: #ccb39e;    
    --colorTokensContentAlmondContent: #efdacc;    
    --colorTokensContentLocustContent: #9cb07d;    
    --colorTokensContentPixieContent: #bfcea1;    
    --colorTokensContentTuskContent: #dfe8ba;    
    --colorTokensContentCruiseContent: #b6e2e2;    
    --colorTokensContentGloryContent: #9acbcb;    
    --colorTokensContentNeptuneContent: #78a7ab;    
    --colorTokensContentBuquetContent: #ab7890;    
    --colorTokensContentLilyContent: #cc9eb7;    
    --colorTokensContentMelanieContent: #e2b6d0;    
    --colorTokensBackgroundPrimary100Bg: #005366;    
    --colorTokensBackgroundPrimary10Bg: #e5eef0;    
    --colorTokensBackgroundWhiteBg: #ffffff;    
    --colorTokensBackgroundSecondary100Bg: #00758f;    
    --colorTokensBackgroundGray40Bg: #b5b5b5;    
    --colorTokensBackgroundGray10Bg: #ececec;    
    --colorTokensBackgroundNegative100Bg: #c13338;    
    --colorTokensBackgroundWarning100Bg: #f0b800;    
    --colorTokensBackgroundPositive100Bg: #107a10;    
    --colorTokensBackgroundSherpaBg: #004352;    
    --colorTokensBackgroundCeruleanBg: #0b6579;    
    --colorTokensBackgroundEasternBlueBg: #0c8aa6;    
    --colorTokensBackgroundOchreBg: #c17f15;    
    --colorTokensBackgroundGoldBg: #e59f2e;    
    --colorTokensBackgroundGrandisBg: #ffcf75;    
    --colorTokensBackgroundSandriftBg: #a99479;    
    --colorTokensBackgroundVanillaBg: #ccb39e;    
    --colorTokensBackgroundAlmondBg: #efdacc;    
    --colorTokensBackgroundLocustBg: #9cb07d;    
    --colorTokensBackgroundPixieBg: #bfcea1;    
    --colorTokensBackgroundTuskBg: #dfe8ba;    
    --colorTokensBackgroundNeptuneBg: #78a7ab;    
    --colorTokensBackgroundGloryBg: #9acbcb;    
    --colorTokensBackgroundCruiseBg: #b6e2e2;    
    --colorTokensBackgroundBuquetBg: #ab7890;    
    --colorTokensBackgroundLilyBg: #cc9eb7;    
    --colorTokensBackgroundMelanieBg: #e2b6d0;    
    --colorTokensBorderPrimary100Border: #005366;    
    --colorTokensBorderSecondary100Border: #00758f;    
    --colorTokensBorderGray100Border: #454545;    
    --colorTokensBorderGray80Border: #6a6a6a;    
    --colorTokensBorderGray40Border: #b5b5b5;    
    --colorTokensBorderWhiteBorder: #ffffff;    
    --colorTokensBorderPositive100Border: #107a10;    
    --colorTokensBorderNegative100Border: #c13338;    
    --colorTokensBorderWarning100Border: #f0b800;    
    --colorTokensBorderSherpaBorder: #004352;    
    --colorTokensBorderCeruleanBorder: #0b6579;    
    --colorTokensBorderEasternBlueBorder: #0c8aa6;    
    --colorTokensBorderOchreBorder: #c17f15;    
    --colorTokensBorderGoldBorder: #e59f2e;    
    --colorTokensBorderGrandisBorder: #ffcf75;    
    --colorTokensBorderSandriftBorder: #a99479;    
    --colorTokensBorderVanillaBorder: #ccb39e;    
    --colorTokensBorderAlmondBorder: #efdacc;    
    --colorTokensBorderLocustBorder: #9cb07d;    
    --colorTokensBorderPixieBorder: #bfcea1;    
    --colorTokensBorderTuskBorder: #dfe8ba;    
    --colorTokensBorderNeptuneBorder: #78a7ab;    
    --colorTokensBorderGloryBorder: #9acbcb;    
    --colorTokensBorderCruiseBorder: #b6e2e2;    
    --colorTokensBorderMelanieBorder: #e2b6d0;    
    --colorTokensBorderLilyBorder: #cc9eb7;    
    --colorTokensBorderBuquetBorder: #ab7890;    
    --colorPaletteStatePositive100: #107a10;    
    --colorPaletteStateNegative100: #c13338;    
    --colorPaletteStateWarning100: #f0b800;    
}