
:root {
    --measureS4: 4px;    
    --measureS8: 8px;    
    --measureS12: 12px;    
    --measureS16: 16px;    
    --measureS20: 20px;    
    --measureS24: 24px;    
    --measureS32: 32px;    
    --measureS40: 40px;    
    --measureS48: 48px;    
    --measureS56: 56px;    
    --measureS64: 64px;    
}